- name: PXE + Autoinstall Ubuntu Server setup
  hosts: pxe
  become: true

  vars:
    iface: eth1
    pxe_ip: 192.168.1.11

    dhcp_start: 192.168.1.30
    dhcp_end: 192.168.1.40

    tftp_root: /srv/tftp
    images_dir: /srv/images
    ks_dir: /srv/ks

    netboot_url: https://mirror.team-host.ru/ubuntu-cdimage/25.10/ubuntu-25.10-netboot-amd64.tar.gz
    iso_url: https://mirror.team-host.ru/ubuntu-cdimage/25.10/ubuntu-25.10-live-server-amd64.iso

    netboot_archive: /tmp/ubuntu-netboot.tar.gz
    iso_file: /srv/images/ubuntu-25.10-live-server-amd64.iso

  tasks:

  - name: Stop and disable UFW
    systemd:
      name: ufw
      state: stopped
      enabled: false
    ignore_errors: true

  - name: Install required packages
    apt:
      name:
        - dnsmasq
        - apache2
        - wget
      update_cache: yes

  - name: Create directories
    file:
      path: "{{ item }}"
      state: directory
      mode: '0755'
    loop:
      - "{{ tftp_root }}"
      - "{{ images_dir }}"
      - "{{ ks_dir }}"

  # -------------------------
  # DNSMASQ CONFIG
  # -------------------------

  - name: Create dnsmasq PXE config
    copy:
      dest: /etc/dnsmasq.d/pxe.conf
      mode: '0644'
      content: |
        interface={{ iface }}
        bind-interfaces

        dhcp-range={{ iface }},{{ dhcp_start }},{{ dhcp_end }}

        dhcp-boot=pxelinux.0

        dhcp-match=set:efi-x86_64,option:client-arch,7
        dhcp-boot=tag:efi-x86_64,bootx64.efi

        enable-tftp
        tftp-root={{ tftp_root }}/amd64

  # -------------------------
  # NETBOOT FILES
  # -------------------------

  - name: Download Ubuntu netboot archive
    get_url:
      url: "{{ netboot_url }}"
      dest: "{{ netboot_archive }}"
      mode: '0644'

  - name: Extract netboot archive
    unarchive:
      src: "{{ netboot_archive }}"
      dest: "{{ tftp_root }}"
      remote_src: true

  # -------------------------
  # ISO IMAGE
  # -------------------------

  - name: Download Ubuntu ISO
    get_url:
      url: "{{ iso_url }}"
      dest: "{{ iso_file }}"
      mode: '0644'

  # -------------------------
  # PXELINUX CONFIG
  # -------------------------

  - name: Configure PXE menu
    copy:
      dest: "{{ tftp_root }}/amd64/pxelinux.cfg/default"
      mode: '0644'
      content: |
        DEFAULT install
        LABEL install
        KERNEL linux
        INITRD initrd
        APPEND root=/dev/ram0 ramdisk_size=3000000 ip=dhcp iso-url=http://{{ pxe_ip }}/srv/images/ubuntu-25.10-live-server-amd64.iso autoinstall ds=nocloud-net;s=http://{{ pxe_ip }}/srv/ks/

  # -------------------------
  # APACHE CONFIG
  # -------------------------

  - name: Create Apache PXE site config
    copy:
      dest: /etc/apache2/sites-available/ks-server.conf
      mode: '0644'
      content: |
        <VirtualHost {{ pxe_ip }}:80>
        DocumentRoot /

        <Directory /srv/images>
            Options Indexes MultiViews
            AllowOverride All
            Require all granted
        </Directory>

        <Directory /srv/ks>
            Options Indexes MultiViews
            AllowOverride All
            Require all granted
        </Directory>

        </VirtualHost>

  - name: Enable Apache site
    command: a2ensite ks-server.conf
    args:
      creates: /etc/apache2/sites-enabled/ks-server.conf

  # -------------------------
  # AUTOINSTALL CONFIG
  # -------------------------

  - name: Create cloud-init user-data
    copy:
      dest: "{{ ks_dir }}/user-data"
      mode: '0644'
      content: |
        #cloud-config
        autoinstall:
          version: 1
          identity:
            hostname: linux
            username: otus
            realname: otus
            password: $6$sJgo6Hg5zXBwkkI8$btrEoWAb5FxKhajagWR49XM4EAOfO/Dr5bMrLOkGe3KkMYdsh7T3MU5mYwY2TIMJpVKckAwnZFs2ltUJ1abOZ.
          locale: en_US.UTF-8
          keyboard:
            layout: us
          ssh:
            install-server: true
            allow-pw: true
          network:
            version: 2
            ethernets:
              {{ iface }}:
                dhcp4: true
          apt:
            preserve_sources_list: false
            primary:
              - arches: [amd64]
                uri: http://archive.ubuntu.com/ubuntu
          updates: security

  - name: Create cloud-init meta-data
    copy:
      dest: "{{ ks_dir }}/meta-data"
      content: ""
      mode: '0644'

  # -------------------------
  # SERVICES
  # -------------------------

  - name: Restart dnsmasq
    systemd:
      name: dnsmasq
      state: restarted
      enabled: true

  - name: Restart apache2
    systemd:
      name: apache2
      state: restarted
      enabled: true
